# Core
Flask==2.3.3
Werkzeug==2.3.7

# Deep Learning
torch==2.2.2
torchvision==0.17.2
transformers==4.40.1
openai-whisper==20240930

# Audio/Video Processing
librosa==0.10.1
opencv-python-headless==4.9.0.80
ffmpeg-python==0.2.0

# Utilities
numpy==1.26.4
scipy==1.12.0
tqdm==4.66.2
python-dotenv==1.0.1